body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FEF8EB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myNav{
  background-color: #F97939;
  height: 50px;
  width: 100vw;
  position: fixed;
  z-index: 50;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.link{
  color: #2E3E4D;
  text-decoration: none;
  font-size: 23px;
  font-weight: 700;
}

.link:hover{
  color: white;
}

.cartIcon{
  color: #2E3E4D;
  text-decoration: none;
}

.cartIcon:hover{
  color: white;
}



/* CSS for home page */

.homeContainer{
  background-color: #bacddb;
  height: 91vh;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 50px;
}

.homeGIF{
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}




/* CSS for builder page */

.toppingsContainer{
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 25px;
}

.toppingsSubContainer{
  max-height: 82vh;
  overflow-y: scroll;
  margin: 15px 0px 15px 0px;
  padding-left: 20px;
  background-color: #F9B562;
  border-radius: 15px;
}

.toppings{
  height: 120px;
}

.mainContainer{
  width: 95vw;
}

.cartContainer{
  background-color: #6DC5AB;
  height: 90vh;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 25px;
}

.cart{
  height: 89%;
  overflow-y: scroll;
  background-color: #FBD989;
  padding-bottom: 25px;
  border-radius: 15px;
}

.sideCartPizza{
  height: 150px;
  /* border: 3px solid #FDECC4; */
}

.cartButton{
  margin-left: 153px;
}

.trashSideCart{
  font-size: 20px;
  margin-left: 95px;
}

.trashSideCart:hover{
  cursor: pointer;
}



/* CART CSS */

.cartPizza{
  height: 350px;
  padding-top: 25px;
  background-color:#FBD989;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 25px;
}

.trashCart{
  font-size: 35px;
  /* margin-left: 95px; */
}

.trashCart:hover{
  cursor: pointer;
}

.totals{
  height: 87.5vh;
  width: 18vw;
  left: 1275px;
  background-color: #FAD275;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  border: 10px solid #8CA5BA;
  border-radius: 25px;
}



/* CSS for fanFavs page */

.cartContainerFavs{
  background-color: #6DC5AB;
  height: 90vh;
  left: 1275px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 25px;
}
